.tag-list{
  display: flex;
  gap: 10px;
  max-width: 800px;
  flex-wrap: wrap;
}

.tag-item{
  display: flex;
  gap: 6px;
  background: #888dea;
  padding: 4px 8px;
  border-radius: 6px;
  color: white;
  max-height: 30px;
  &__title{
    display: flex;
    align-items: center;
  }
}

.tag-active{
  background: #575de5;
}
.tag-input{
  width: 60px;
  height: 100%;

}