.task-list{
margin-top: 20px;

}

.task-item{
  margin-bottom: 12px;
  padding: 4px 8px;
  &:hover{
    background: ghostwhite;

  }
}

.task-item__title{
text-align: start;
}

.task-item__tag{
  max-width: 200px;
  display: flex;
  gap: 10px;
}
